---
import { ViewTransitions } from "astro:transitions";
import Nav from "@/components/nav.astro";
import ScreenSize from "@/components/screen-size.astro";

import "@/styles/globals.css";

interface Props {
  title: string;
  description: string;
}

let canonicalURL: URL;
try {
  canonicalURL = new URL(Astro.url.pathname, Astro.site);
} catch (err) {
  console.error(`Failed to create canonical URL: ${(err as Error).message}`);
  canonicalURL = Astro.url;
}

const { title, description } = Astro.props;
---

<script is:inline>
  if (typeof localStorage !== "undefined") {
    const theme = localStorage.getItem("theme");
    document.documentElement.classList.add(theme === "dark" ? "dark" : "light");
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app">
      <main>
        <slot />
      </main>
      <ScreenSize />
    </div>
  </body>
</html>
